button {
  color: red;
  font-size: 20px;
  background-color: yellow;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;

  cursor: pointer;

  box-shadow: 2px 2px 5px grey;

  transition: background-color 0.3s, color 0.3s;
}
