h1 {
  color: blue;
}
.space-right {
  margin-right: 20px;
}
button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
select {
  margin-top: 10px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}