<div (scroll)="onWindowScroll()" style="overflow: scroll; height: 600px">
  <h1>Data-binding works!</h1>

  <table style="width: 100%; background-color: aqua">
    <h3>This is inter Polation of Data using double curly braces {{ "{{}}" }}</h3>
    <tr style="background-color: azure">
      <td style="width: 50%; vertical-align: top; padding: 10px; color: brown">
        <span>{{ courseName }}</span
        ><br />
        <span>{{ isActive }}</span
        ><br />
        <span>{{ currentDate }}</span
        ><br />
        <span>{{ rollNumbers }}</span
        ><br />
        <span>{{ arrayData }}</span
        ><br />
        <span>{{ arrayData1 }}</span
        ><br />
        <span>{{ tupleData }}</span
        ><br />
        <span>{{ enumData }}</span
        ><br />
        <span>{{ objectData }}</span
        ><br />
      </td>
    </tr>
    <tr style="background-color: blueviolet">
      <td>
        <input type="text" value="{{ rollNumbers }}" />
      </td>
    </tr>
    <tr style="background-color: darkkhaki">
      <p class="space-right" style="color: brown; font-weight: 300">This is property binding -></p>
      <td>
        <input type="text" placeholder="propery binding" [value]="rollNumbers" />
      </td>
    </tr>
    <tr style="background-color: darkolivegreen" (mouseenter)="onMouseEnter()">
      <td>{{ rollNumbers }}</td>
      <h4>Using ngModel everywhere data will be change (FormsModule)</h4>
      <td>
        <input type="text" [(ngModel)]="rollNumbers" />
      </td>
      <td>
        <input type="checkbox" [(ngModel)]="isActive" />
      </td>
      <td>{{ isActive }}</td>
    </tr>
    <tr style="background-color: darkorange">
      <td>
        <button (click)="showAlert()">Show Alert</button>
      </td>
      <td>
        <select (change)="onNumberChange($event)" name="" id="">
          <option value="10">Ten</option>
          <option value="20">Twenty</option>
          <option value="30">Thirty</option>
        </select>
      </td>
    </tr>
  </table>
<h4>Event binding example</h4>
  <h4>Sum is {{ addTwoNumbers(10, 20) }}</h4>
</div>


<h1>Pipe IN Angular</h1>
<p>Today's date is {{ currentDate | date:'fullDate' }}</p>
<p>Today's date is (dd-MM-yy) => {{ currentDate | date:'dd-MM-yy' }}</p>
<p>Today's date is => (dd-MMM-yy) {{ currentDate | date:'dd-MMM-yy' }}</p>
<p>Today's date is => (dd-MMMM-yy) {{ currentDate | date:'dd-MMMM-yyyy' }}</p>
<p>Transform Uppercase {{ courseName | uppercase }}</p>
<p>Transform Lowercase {{ courseName | lowercase }}</p>
<p>Transform Slice {{ courseName | slice:0:5 }}</p>
<p>Transform Slice {{ courseName | slice:5 }}</p>
<p>Number Pipe {{ 1234567 | number }}</p>
<p>Number Pipe with digit info {{ 1234567.89 | number:'3.1-2' }}</p>
<p>Currency Pipe {{ 1234567 | currency:'INR' }}</p> 
<p>Currency Pipe with digit info {{ 1234567.89 | currency:'INR':'symbol':'3.1-2' }}</p>
<p>Decimal Pipe {{ 0.259 | percent }}</p>